@font-face{
	font-family:"Roboto-Medium";
	src: url("fonts/Roboto-Medium.ttf")
}
@font-face{
	font-family:"Roboto-Regular";
	src: url("fonts/Roboto-Regular.ttf")
}
*{padding: 0; margin: 0;}
a{text-decoration: none;}
:root
{
    --background-button:#252525;
    --time-text:#6C6C6C;
    --input-bg:#F2F3F5;
}
.topName
{
    display: grid;
    grid-template-columns: repeat(2, 120px);
    align-items:center;
}
.topSpan
{
    font-family: Roboto-Medium;
    font-size: 20px;
}
.topSpanComments
{
    font-family: Roboto-Medium;
    font-size: 15px;
}
.notificationCards
{
    margin-top: 30px;
    display: grid;
    justify-content: center;
}
.notificationCard
{
    border-radius: 50%;
    display: grid;
}
.notificationCardBody
{   
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: grid;
    box-shadow: 0px 4px 40px 0px #00000033;

    grid-template-rows: repeat(1, 16px);
    max-width: 350px;
    min-height: 110px;
}
.timeNotification
{
    font-size: 12px;
    font-family: Roboto-Regular;
    color: var(--time-text);
    padding-top: 6px;
    padding-left: 15px;
}
.nameNotification
{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 18px;
    font-family: Roboto-Medium;
}
.gridButton
{
    display: grid;
    justify-items: center;
    align-items: center;
}
.buttonNotification
{
    color: white;
    font-family: Roboto-Regular;
    background-color: var(--background-button);
    width: 320px;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    justify-items: center;
    display: grid;
}
/* Comments */
.BodyComments
{
    grid-template-columns: repeat(1, 360px);
    padding-left: 20px;
    margin-top: 30px;
    font-family: Roboto-Regular;
    font-size: 18px;
    display: grid;
}
.inputName
{
    margin-top: 16px;
    width: 340px;
    height: 50px;
    border-radius: 15px;
    padding-left: 15px;
    color: black;
    font-size: 18px;
    background-color: var(--input-bg);
    border: 1px solid var(--input-bg);
}
.inputName::placeholder
{
    color: var(--time-text);
    font-size: 18px;
}
.inputComments
{
    margin-top: 16px;
    resize: none;
    width: 320px;
    height: 140px;
    border-radius: 15px;
    color: black;
    background-color: var(--input-bg);
    border: 1px solid var(--input-bg);
    font-size: 18px;
    padding: 15px;
    font-family: Roboto-Regular;
}
.inputComments::placeholder
{
    color: var(--time-text);
}
.stars
{
    margin-top: 16px;
}
.divStars
{
    margin-top: 24px;
}
.inputCommentsDiv
{
    margin-top: 19px;
}
.mgt-100
{
    margin-top: 100px;
}
