@font-face{
	font-family:"Roboto-Medium";
	src: url("fonts/Roboto-Medium.ttf")
}
@font-face{
	font-family:"Roboto-Regular";
	src: url("fonts/Roboto-Regular.ttf")
}
*{padding: 0;}
a{text-decoration: none;}
:root
{
    --more-Text-Color:#797979;
    --active-Ellipse:#252525;
    --more-Ellipse:#DEDEDE;
}
.pageImageOne{margin-top: 100px;}
.pageImageTwo{margin-top: 70px;}
.returnButton{margin-top: 26px;}
/* divs */
.mainDiv
{
    display: grid;
    justify-items: center;
}
.ellipseDiv
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.downDiv
{
    display: grid;
    grid-template-columns: 260px 100px;
    align-items: center;
    margin-top: 70px;
}
/*  */
.active
{
    background-color: var(--active-Ellipse);
}
.more
{
    background-color: var(--more-Ellipse);
}
.ellipse
{
    margin: 0 3px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.mainText
{
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    font-family: Roboto-Medium;
}
.moreText
{
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    color: var(--more-Text-Color);
    font-family: Roboto-Regular;
    max-width: 300px;
}
.imageButton
{
    margin-top: 36px;
}
.skipButton
{
    font-size: 19px;
    font-family: Roboto-Regular;
    color: var(--more-Text-Color);
}
.login
{ 
    background-color: var(--active-Ellipse); 
    color: white;
    font-size: 20px;
    font-family: Roboto-Medium;
    width: 90%;
    text-align: center;
    border-radius: 17px;
    padding: 10px 0;
}
.register
{ 
    color: var(--active-Ellipse);
    font-size: 20px;
    font-family: Roboto-Medium;
    text-align: center;
    margin-top: 15px;
}