/* fonts */
@font-face{
	font-family:"GPL";
	src: url("fonts/GothamPro-Light.ttf")
}
@font-face{
	font-family:"GPB";
	src: url("fonts/GothamPro-Bold.ttf")
}
@font-face{
	font-family:"GPC";
	src: url("fonts/GothamPro-Black.ttf")
}
@font-face{
	font-family:"GPM";
	src: url("fonts/GothamPro-Medium.ttf")
}
/* :root */
:root
{
    --main-text-color:#333;
    --underline-text-color:#f6d472;
    --tavern-text-color:#808000;
    --space-text-color:#333399;
    --arcade-text-color:#ff6600;
}
/* Header */

*{font-family: GPB; color:var(--main-text-color); text-decoration: none;}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    
}
.onMobile{display: none;}
.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headerA
{
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 10px;
}
.headerA::after
{
    display: block;
    content: "";
    background-color: var(--underline-text-color);
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.headerA:hover:after,
.headerA:focus:after {
    width: 100%;
}
.brandImg
{
    width: 66px;
    height: 66px;
}
.calltel
{
    text-decoration: none;

}


/* body */
body
{
    margin: 0;
}
.oNasContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainText
{
    font-size: 35px;
    text-align: center;
}
.mainTextTwoColor
{
    color: var(--underline-text-color);
}
.moreText
{
    text-align: center;
    font-family: GPM;

}
.cardContainer
{
    display: flex;
    margin-top: 60px;
}
.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    gap: 23px;
    padding-right: 30px;
}
.card-Image
{
    width: 35%;
}
.card-Title
{
    text-align: center;
    font-size: 24px;
}
.card-BodyText
{
    font-size: 16px;
    font-family: GPM;
    text-align: center;
}
.divSignUp
{
    margin-top: 50px;
}
.buttonSignUp
{
padding: 20px 30px;
background-image: linear-gradient(135deg,#f6d472 0,#f6d472 100%);
border: 1px solid #f6d472!important;
text-decoration: none;
border-radius: 5px;
}
.DispayButtonSignUp
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
#Zons
{
    padding: 20px 0;
    margin-top: 130px;
    background-color: #f7f7f7;
}
#parnets
{
    background-color: #f7f7f7;
    margin-top: 130px;
}
.zonaCard
{
    margin-top: 50px;
    display: flex;
    padding: 20px 0;
}
.zonaCardSecond
{
    margin-top: 30px;
    display: flex;
    background-color: white;
    padding: 20px 0;
}
.zonaCardThird
{
    margin-top: 30px;
    display: flex;
    padding: 20px 0;
}
.car
{
    width: 600px;
    height: 350px;
}
.zonaCardAllText
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.zonaCardMainText
{
    font-size: 35px;
    text-align: center;
}
.zonaCardMoreText
{
    font-family: GPM;
    padding: 0 20px;
    text-align: center;
}
.firstTextCard
{
    color: var(--tavern-text-color);
}
.secondTextCard
{
    color: var(--space-text-color);
}
.thirdTextCard
{
    color: var(--arcade-text-color);
}
.morePartner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 30px;
}
.moreMainText
{
    font-size: 25px;
}
.moreOtherText
{
    font-size: 18px;
}
.moreImage
{
    width: 50%;
    height: 100%;
    padding: 30px 0;
}
.divContactns
{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
.info
{
    padding-left: 30px;
}
.info p 
{
    font-family: GPM;
}
.contactsText
{
    font-family: GPC;
}
.questImage
{
    position: absolute;
    width: 100%;
    height: 30%;
}
.questText
{
    position: absolute;
    color: white;
}
/* Table */
.Tables
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
table
{
    border: 1px solid var(--underline-text-color);
    font-size: 25px;
}
TH, TD {
    text-align: center;
    /* padding: 10px 60px; */
   }
.borders
{
    border-right: 1px solid var(--main-text-color);
}
/* footer */
/* other */
@media (max-width:1024.99px)
{
    .container
    {
        max-width: 900px;
    }
    .onMobile{display: none;}
}
@media (max-width:768.99px)
{
    .container
    {
        max-width: 600px;
    }
    .onComputer{display: none;}
    .onMobile{display: block;}
    .zonaCard{flex-direction: column;}
    .zonaCardSecond{flex-direction: column;}
    .zonaCardThird{flex-direction: column;}
    .car{width: 100%; height: 40%; padding: 20px 0;}
}
@media (max-width:425px)
{
    .container
    {
        max-width: 425px;
    }
    .cardContainer{ justify-content: center;flex-direction: column;}
    .card{padding: 0; width: 300px;}
    .zonaCard{flex-direction: column;}
    .zonaCardSecond{flex-direction: column;}
    .zonaCardThird{flex-direction: column;}
    .car{width: 100%; height: 40%; padding: 20px 0;}
    .onComputer{display: none;}
}
/* Сторонее */
/* Стиль меню навигации */

  
  /* Скрыть ссылки внутри меню навигации ( кроме главной/логотип) */
  .TopBar #myLinks {
    display: none;
  }
  
  /* Ссылки меню навигации по стилю */
  .TopBar a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Стиль меню гамбургера */
  .TopBar a.icon {
    background-color: #ddd;
    display: block;
    position: absolute;
    right: 10%;
    top: 0;
  }
  
  /* Добавить серый цвет фона при наведении курсора мыши */
  .TopBar a:hover {
    background-color: #ddd;
    color: black;
  }
  

  /* Paddings and Margins */

  .pd-top80
  {
      padding-top: 80px;
  }
  .pd-top10
  {
      padding-top: 10px;
  }