*{margin:0; padding:0;}
:root
{
    --bg-color-card: #72C8FF;
    --bg-color-card-active: #349CE3;
    --bg-color-card-image:#f3f6fa;
}
/* fonts */
@font-face
{
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face
{
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face
{
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face
{
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf)
}
/* Body card */
.body__card{
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: var(--bg-color-card-image);
border: 2px solid var(--bg-color-card);
background-clip: border-box;
/* border: 1px solid rgba(0,0,0,.125); */
border-radius: .25rem;
}
.body__card_all:hover
{
    border: 2px solid var(--bg-color-card-active);
    /* background-color: var(--bg-color-card-active); */
}
.body__card_body
{
    /* padding-top: 15px; */
    padding: 10px;
    background-color: var(--bg-color-card);
    text-align:center;
    vertical-align: bottom;
}
.body__card_title
{
    border-bottom-left-radius:11px;
    border-bottom-right-radius:11px;
    margin-bottom: .5rem;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto-Regular;


}
.body__card_body:hover
{
    border: 2px solid var(--bg-color-card-active);
    background-color: var(--bg-color-card-active);
}
.body__card_image
{
    display: block;
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin: auto;
}
