*{margin:0; padding:0; font-family: Roboto-Regular; outline: 0 !important;}
:root
{
    --bg-color-card: #72C8FF;
    --bg-color-card-active: #349CE3;
    --bg-color-card-image:#f3f6fa;
}
a
{
 text-decoration: none;
 color: black;
}
/* fonts */
@font-face
{
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face
{
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face
{
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face
{
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf)
}
/* container */
.body-container
{
    margin: 0 auto;
}
/* Body card */
.cataloge-cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.cataloge-card__elem{
max-width: 260px;
height: 250px;
width: 100%;
display: flex;
flex-direction: column;
background-color: var(--bg-color-card-image);
 border: 2px solid var(--bg-color-card); 
border-radius: 10px 10px 10px 10px;
}
.cataloge-card-all:hover
{
    border: 2px solid var(--bg-color-card-active);
    /* background-color: var(--bg-color-card-active); */
    border-radius: 10px 10px 10px 10px;
}
.cataloge-card-body
{
    padding: 5px; 
    background-color: var(--bg-color-card);
    text-align:center;
    border-radius: 0 0 4px 4px;
}
.cataloge-card-title
{
    margin-bottom: .5rem;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto-Regular;
    display: block;

}
.cataloge-card-body:hover
{
    text-decoration: none;
    border-radius: 0 0 4px 4px;
    /* border: 2px solid var(--bg-color-card-active); */
     background-color: var(--bg-color-card-active); 
}
.cataloge-card-image
{
    display: block;
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin: auto;
}
/* main text */
.cataloge-main-p
{
    padding-left: 14px;
    margin-top: 15px;
    font-size: 30px;
}
/* Breadcrumb */
.cataloge-breadcrumb
{
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    display: inline-block;
    color: black;
}
.cataloge-breadcrumb li
{  
    color: black;
    display: inline-block;
}
.cataloge-breadcrumb_black
{
    color: black;
}
.cataloge-breadcrumb-bread
{
    color: black;
    padding: 0 5px
}
.cataloge-breadcrumb-active
{
    color:#999;
}
/* Media запрос */
@media (min-width: 425.98px){
    .body-container {
      max-width: 540px;
    }
    .cataloge-main-p
    {
        font-size: 50px;
    }
    .cataloge-breadcrumb
    {
        font-size: 30px;
    }
    .cataloge-card__elem
    {
        max-width: 330px;
    }
    .cataloge-card-title
    {
        font-size:30px;
    }
  }
  
  @media (min-width: 767.98px){
    .body-container {
      max-width: 720px;	
    }
  }
  
  @media (min-width: 991.98px) {
    .body-container {
      max-width: 920px;
    }
    .cataloge-main-p
    {
        font-size: 30px;
    }
    .cataloge-breadcrumb
    {
        font-size: 18px;
    }
    .cataloge-card__elem
    {
        max-width: 260px;
    }
    .cataloge-card-title
    {
        font-size:18px;
    }
  }
  
  @media (min-width: 1199.98px){
    .body-container {
      max-width: 920px;
    }
  }